@keyframes bannerSlides {

  0% {
    left: 0;
  }

  14.8148% {
    left: 0;
  }

  18.5185% {
    left: -100vw;
  }

  48.1481% {
    left: -100vw;
  }

  51.8519% {
    left: -200vw;
  }

  81.4815% {
    left: -200vw;
  }

  85.1852% {
    left: -300vw;
  }

  100% {
    left: -300vw;
  }

}
